<%= render 'header' %>

<p>تم نشر مقالك الجديد. أدناه ملخص لبيانات المقال:</p>
<table style="width:100%;direction:rtl;border-collapse:collapse">
  <tbody style="background:#fff;border: 1px solid red;max-width:750px;text-align:right;">
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:statusColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:statusColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:progressBarColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:progressBarColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:titleColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:titleColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:timestampColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:timestampColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:deadlineColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:deadlineColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:deliveryTimeColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:deliveryTimeColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:startDateColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:startDateColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:teamColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:teamColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:lmColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:lmColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:translationSourceColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:translationSourceColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:reporterColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:reporterColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:countryColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:countryColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:editorColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:editorColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:driveColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:driveColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:cmsLinkColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:cmsLinkColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:regionColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:regionColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:sectionColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:sectionColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:newsEditorColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:newsEditorColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:publishDateColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:publishDateColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:publishTimeColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:publishTimeColKey]] %></td></tr>
    <tr><td style="width: 20%;font-weight: bold;padding: 5px;border: 1px black solid;"><%= @header_row[@h_hash[:notesColKey]] %></td><td style="padding: 5px;border: 1px black solid;"> <%= @row[@h_hash[:notesColKey]] %></td></tr>
  </tbody>
</table>
<%= render 'footer' %>
