<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :team_id, class: "form-control" %>
  <div class="form-group">
    <%= f.label "البريد الإلكتروني" %><abbr class="req"> *</abbr><br>
    <%= f.text_field :user_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "عنوان المقال الإنجليزي" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "رابط للمقال الأصلي" %>
    <%= f.text_field :original_link, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "تصنيف المادة" %><br>
    <%= f.select(:interest_id, Interest.all.collect {|i| [ i.title, i.id ] }, { include_blank: true }) %>
  </div>
  <div class="field">
    <%= f.label "نوع المادة" %><br>
    <%= f.select(:article_type_id, ArticleType.all.collect {|at| [ at.name, at.id ] }, { include_blank: true }) %>
  </div>
  <br>
  <%= f.submit "إرسل", class: "btn btn-primary" %>
<% end %>
