<p id="notice"><%= notice %></p>

<p>
  <strong>Line manager:</strong>
  <%= @article.line_manager_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @article.status %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @article.start_date %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @article.deadline %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @article.publish_date %>
</p>

<p>
  <strong>Progress bar:</strong>
  <%= @article.progress_bar %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @article.editor_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @article.assignment_id %>
</p>

<p>
  <strong>Drive link:</strong>
  <%= @article.drive_link %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @article.interest_id %>
</p>

<p>
  <strong>Sections progress bar:</strong>
  <%= @article.sections_progress_bar %>
</p>

<p>
  <strong>Cms link:</strong>
  <%= @article.cms_link %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @article.notes %>
</p>
